body {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Georgia", serif;
  font-size: 12px;
  background-color: white;
  color: black; }

h1 {
  font-size: 1.5em;
  font-weight: normal; }
  h1:before {
    content: "# "; }

h2 {
  font-size: 1.2em;
  font-weight: normal; }
  h2:before {
    content: "## "; }

a {
  color: black; }

ul {
  padding: 0;
  list-style-type: none; }
  ul > li:before {
    content: "- "; }
  ul ul {
    padding-bottom: 5px; }
    ul ul > li {
      padding-left: 15px; }
      ul ul > li:before {
        content: "> "; }
  ul.languages {
    position: relative;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap; }
    ul.languages li {
      width: 33%;
      flex: auto;
      -webkit-flex: auto; }
  ul.repositories li {
    margin-bottom: 0.25em; }

li.muted {
  color: #666666; }
li.supermuted {
  color: #aaaaaa; }
